@using System.Linq
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Shop";
}
@functions {
    public string realPath(string path)
    {
        return Url.Content("~/" + path);
    }
}
@{
    var arrQuery = this.Context.Request.Query.ToList();
}
<!--== Start Page Header Area Wrapper ==-->
<div class="page-header-area" data-bg-img=@realPath("assets/img/photos/bg3.webp")>
    <div class="container pt--0 pb--0">
        <div class="row">
            <div class="col-12">
                <div class="page-header-content">
                    <h2 class="title" data-aos="fade-down" data-aos-duration="1000">Product Page</h2>
                    <nav class="breadcrumb-area" data-aos="fade-down" data-aos-duration="1200">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="breadcrumb-sep">//</li>
                            <li>Product Page</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Header Area Wrapper ==-->
<!--== Start Product Area Wrapper ==-->
<section class="product-area product-default-area">
    <div class="container">
        <div class="row flex-xl-row-reverse justify-content-between">
            <div class="col-xl-9">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-top-bar">
                            <div class="shop-top-left">
                                <p class="pagination-line"><a href="shop.html">12</a> Product Found of <a href="shop.html">@ViewBag.TotalOfProduct</a></p>
                            </div>
                            <div class="shop-top-center">
                                <nav class="product-nav">
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-grid-tab" data-bs-toggle="tab" data-bs-target="#nav-grid" type="button" role="tab" aria-controls="nav-grid" aria-selected="true"><i class="fa fa-th"></i></button>
                                        <button class="nav-link" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" aria-selected="false"><i class="fa fa-list"></i></button>
                                    </div>
                                </nav>
                            </div>
                            <div class="shop-top-right">
                                <div class="shop-sort">
                                    <span>Sort By :</span>
                                    <select class="form-select" aria-label="Sort select example">
                                        <option selected>Default</option>
                                        <option value="1">Popularity</option>
                                        <option value="2">Average Rating</option>
                                        <option value="3">Newsness</option>
                                        <option value="4">Price Low to High</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                                <div class="row">
                                    @{
                                        @foreach (Product item in ViewBag.ListProduct)
                                        {
                                            <div class="col-sm-6 col-lg-4">
                                                <!--== Start Product Item ==-->
                                            <div class="product-item">
                                                    <div class="inner-content">
                                                        <div class="product-thumb">
                                                            <a asp-controller="Product" asp-action="ProductById" asp-route-id="@item.Id">
                                                                <img src=@realPath(item.Images.First().Url) width="270" height="274" alt="Image-HasTech">
                                                            </a>
                                                            @if (item?.SalesOff != null)
                                                            {
                                                                <div class="product-flag">
                                                                    <ul>
                                                                        <li class="discount">-@item.SalesOff%</li>
                                                                    </ul>
                                                                </div>
                                                            }

                                                            <div class="product-action">
                                                                <a class="btn-product-wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                                <a class="btn-product-cart" href="shop-cart.html"><i class="fa fa-shopping-cart"></i></a>
                                                                <button type="button" class="btn-product-quick-view-open">
                                                                    <i class="fa fa-arrows"></i>
                                                                </button>
                                                                <a class="btn-product-compare" href="#"><i class="fa fa-random"></i></a>
                                                            </div>
                                                            <a class="banner-link-overlay" href="shop.html"></a>
                                                        </div>
                                                        <div class="product-info">
                                                            <div class="category">
                                                                <ul>
                                                                    <li><a href="shop.html">Men</a></li>
                                                                    <li class="sep">/</li>
                                                                    <li><a href="shop.html">Women</a></li>
                                                                </ul>
                                                            </div>
                                                            <h4 class="title"><a asp-controller="Product" asp-action="ProductById" asp-route-id="@item.Id">@item.Name</a></h4>
                                                            @if (item?.SalesOff != null)
                                                            {
                                                                var newPrice = item?.Price - item?.Price * item?.SalesOff / 100;
                                                                <div class="prices">
                                                                    <span class="price-old">$@item?.Price</span>
                                                                    <span class="sep">-</span>
                                                                    <span class="price">$@newPrice</span>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="prices">
                                                                    <span class="price">$@item?.Price</span>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--== End prPduct Item ==-->
                                        </div>
                                        }
                                    }

                                    <div class="col-12">
                                        <div class="pagination-items">
                                            <ul class="pagination justify-content-end mb--0">
                                                @for (var i = 1; i <= ViewBag.PageCount; i++)
                                                {
                                                    var active = ViewBag.CurrentPage == i ? "active" : "";
                                                    <li><a class="@active" href="shop?page=@i">@i</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                                <div class="row">
                                    @{
                                        @foreach (Product item in ViewBag.ListProduct)
                                        {
                                            <div class="col-md-12">
                                                <!--== Start Product Item ==-->
                                            <div class="product-item product-list-item">
                                                    <div class="inner-content">
                                                        <div class="product-thumb">
                                                            <a asp-controller="Product" asp-action="ProductById" asp-route-id="@item.Id">
                                                                <img src=@realPath(item.Images.First().Url) width="322" height="360" alt="Image-HasTech">
                                                            </a>
                                                            @if (item?.SalesOff != null)
                                                            {
                                                                <div class="product-flag">
                                                                    <ul>
                                                                        <li class="discount">-@item.SalesOff%</li>
                                                                    </ul>
                                                                </div>
                                                            }
                                                            <div class="product-action">
                                                                <a class="btn-product-wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                                <a class="btn-product-cart" href="shop-cart.html"><i class="fa fa-shopping-cart"></i></a>
                                                                <button type="button" class="btn-product-quick-view-open">
                                                                    <i class="fa fa-arrows"></i>
                                                                </button>
                                                                <a class="btn-product-compare" href="#"><i class="fa fa-random"></i></a>
                                                            </div>
                                                            <a class="banner-link-overlay" href="shop.html"></a>
                                                        </div>
                                                        <div class="product-info">
                                                            <div class="category">
                                                                <ul>
                                                                    <li><a href="shop.html">Men</a></li>
                                                                    <li class="sep">/</li>
                                                                    <li><a href="shop.html">Women</a></li>
                                                                </ul>
                                                            </div>
                                                            <h4 class="title"><a asp-controller="Product" asp-action="ProductById" asp-route-id="@item.Id">@item.Name</a></h4>
                                                            @if (item?.SalesOff != null)
                                                            {
                                                                var newPrice = item?.Price - item?.Price * item?.SalesOff / 100;
                                                                <div class="prices">
                                                                    <span class="price-old">$@item?.Price</span>
                                                                    <span class="sep">-</span>
                                                                    <span class="price">$@newPrice</span>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="prices">
                                                                    <span class="price">$@item?.Price</span>
                                                                </div>
                                                            }
                                                            <p>@item.Overeview</p>
                                                            <a class="btn-theme btn-sm" href="shop-cart.html">Add To Cart</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--== End prPduct Item ==-->
                                        </div>
                                        }
                                    }


                                    <div class="col-12">
                                        <div class="pagination-items">
                                            <ul class="pagination justify-content-end mb--0">
                                                @for (var i = 1; i <= ViewBag.PageCount; i++)
                                                {
                                                    var active = ViewBag.CurrentPage == i ? "active" : "";
                                                    <li><a class="@active" href="shop?page=@i">@i</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="shop-sidebar">
                    <div class="shop-sidebar-category">
                        <h4 class="sidebar-title">Top Categories</h4>
                        <div class="sidebar-category">
                            <ul class="category-list mb--0">
                                @foreach (TopCategory item in ViewBag.Categories)
                                {
                                    <li><a asp-controller="Product" asp-action="FilterProduct" asp-route-category=@item.Id asp-route-color=@arrQuery.FirstOrDefault(q=>q.Key.Equals("color")).Value asp-route-size=@arrQuery.FirstOrDefault(q=>q.Key.Equals("size")).Value asp-route-brand=@arrQuery.FirstOrDefault(q=>q.Key.Equals("brand")).Value>@item.Name <span>(@item.Count)</span></a></li>
                                }

                            </ul>
                        </div>
                    </div>

                    <div class="shop-sidebar-price-range">
                        <h4 class="sidebar-title">Price Filter</h4>
                        <div class="sidebar-price-range">
                            <div id="price-range"></div>
                        </div>
                    </div>

                    <div class="shop-sidebar-color">
                        <h4 class="sidebar-title">Color</h4>
                        <div class="sidebar-color">
                            <ul class="color-list">
                                @foreach (Color item in ViewBag.Colors)
                                {
                                    <li data-bg-color="@item.HexCode"><a asp-controller="Product" asp-action="FilterProduct" asp-route-category=@arrQuery.FirstOrDefault(q=>q.Key.Equals("category")).Value asp-route-color=@arrQuery.FirstOrDefault(q=>q.Key.Equals("color")).Value asp-route-size=@item.Id asp-route-brand=@arrQuery.FirstOrDefault(q=>q.Key.Equals("brand")).Value></a></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="shop-sidebar-size">
                        <h4 class="sidebar-title">Size</h4>
                        <div class="sidebar-size">
                            <ul class="size-list">
                                @foreach (TopSize item in ViewBag.Sizes)
                                {
                                    <li><a asp-controller="Product" asp-action="FilterProduct" asp-route-category=@arrQuery.FirstOrDefault(q=>q.Key.Equals("category")).Value asp-route-color=@arrQuery.FirstOrDefault(q=>q.Key.Equals("size")).Value asp-route-size=@item.Id asp-route-brand=@arrQuery.FirstOrDefault(q=>q.Key.Equals("brand")).Value>@item.Name <span>(@item.Count)</span></a></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="shop-sidebar-brand">
                        <h4 class="sidebar-title">Brand</h4>
                        <div class="sidebar-brand">
                            <ul class="brand-list mb--0">
                                @foreach (Brand item in ViewBag.Brands)
                                {
                                    <li><a asp-controller="Product" asp-action="FilterProduct" asp-route-category=@arrQuery.FirstOrDefault(q=>q.Key.Equals("category")).Value asp-route-color=@arrQuery.FirstOrDefault(q=>q.Key.Equals("color")).Value asp-route-size=@arrQuery.FirstOrDefault(q=>q.Key.Equals("size")).Value asp-route-brand=@item.Id>@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== End Product Area Wrapper ==-->